config/liquibase_cco_full.properties
/target
.project
.settings/
*~
*html
.Rhistory

src/main/resources/edu/harvard/huh/specify/datamodel/cco_poc/db/specify.6.6.06.sql
src/main/resources/edu/harvard/huh/specify/datamodel/cco_poc/db/specify_huh.sql

cco_full-dump-*
